.{
    font-family: 'Itim', cursive;
}
header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.29);
}
#logo{
    font-family: 'Zhi Mang Xing', cursive;
}
.my-navbar{
    display: flex; flex-direction: row;

}
#home{
    padding-left: 1%;
}
#careers{
    padding-left: 1%; 
}
#sign-in{
    padding-left: 1%; margin-right: 0%;
}
#log-in{
    padding-left: 1%;
}
h1{
    text-align: center; 
    
}
.welcoming{
    display: flex; align-self: center;
    vertical-align: middle;
}

footer{
    background-color: rgba(165, 42, 42, 1);
    color: white;
}

.subscribe{
    display: flex; flex-direction: row;
}
.location{
    display: flex; flex-direction: row;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: space-between;
}
